{% load django_bootstrap5 %}
{% if form %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            {{title_label|default:''}}
        </div>
        <div class="card-body">
            {% bootstrap_form form%}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">{{ submit_label|default:'저장' }}</button>
        </div>
    </div>
</form>
{% else %}
잘못된 접근입니다 관리자에게 문의해주세요
{% endif %}