{% load instargram_tags django_bootstrap5 humanize %}

            {% if object_list %}
                {% for post in object_list %}
                    <div class="card my-5">
                        <div class="card-header">
                            <a href="{% url 'instargram:user_page' post.author %}" class="text-decoration-none text-dark">
                                <img src="{{ post.author.user_profile_image_url }}"
                                style="width:35px;height:35px" class="profile-image" alt="" srcset="">
                                <span class="small">{{post.author}}</span>
                            </a>
                        </div>
                        <div class="card-body p-0">
                            {# 포스트 이미지 표현#}
                            <a href="{% url 'instargram:post_detail' post.pk %}">
                                <img src="{{post.thumbnail_800}}" alt="post" style="width:100%">
                            </a>
                            <div class="p-3">
                                {% autoescape off %}
                                    {{ post.caption|truncatechars:31 }}
                                    <a href="{{ post.get_absolute_url }}" class="text-decoration-none text-mute"> 더보기</a>
                                {% endautoescape %}
                            </div>
                        </div>
                        <div class="card-footer bg-white">
                            <div class="col-sm-12">
                                {% if not post|is_like:user %}
                                    <a href="{% url 'instargram:post_like' post.pk %}" class="text-decoration-none text-dark">
                                        <i class="fa fa-heart-o"></i>
                                    </a>
                                {% else %}
                                    <a href="{% url 'instargram:post_like' post.pk %}" class="text-decoration-none text-danger">
                                        <i class="fa fa-heart"></i>
                                    </a>
                                {% endif %}

                                <div class="container p-0 d-flex">
                                    {% for tags in post.extract_tag_list %}
                                        <div class="badge bg-danger rounded-0 me-2">{{ tags }}</div>
                                    {% endfor %}
                                    <div class=""><small>{{ post.created_at|naturaltime }}</small></div>
                                </div>
                            </div>
                        </div>
                        {# 댓글 리스트 #}
                            <div class="card p-0 rounded-0">
                                <div class="card-header">댓글</div>
                                <div class="card-body">

                                    {% for comment in post.post_id.all %}
                                        {% if user == comment.author %}
                                            <div class="card-text bg-light border-bottom">
                                        {% else %}
                                            <div class="card-text border-bottom pt-1">
                                        {% endif %}
                                            <a href="{% url 'instargram:user_page' comment.author %}" class="text-decoration-none">
                                                <img src="{{ comment.author.user_profile_image_url }}"
                                                     class="rounded-circle border border-2" alt="{{ comment.author }}"
                                                     title="{{ comment.author }}">
                                                <span class="small">{{ comment.author }}</span>
                                            </a>
                                            <span class="small text-muted">{{ comment.created_at }}</span>
                                            <p class="small fw-bold">{{ comment }}</p>
                                        </div>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                        {# 댓글 리스트 끝 #}


                        {#  댓글 달기 #}
                        {# 여기서 댓글 form이 넘어오지 않아서 에러가 남 tag_list 에서 form 을 넘겨주던지 해야함 #}
                        <div class="row">
                            <form action="{% url 'instargram:comment_new' post.pk %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <div class="container m-0">
                                    <div class="row">
                                        <button type="submit" class="btn btn-block btn-outline-primary py-0 rounded-0">저장</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {# 댓글 달기 끝#}
                    </div>
                {% endfor %}

            {% else %}
                <h3 class="text-center">등록된 게시글이 없습니다.</h3>
            {% endif %}