
     {% if object_list %}
                {% for post in object_list %}
                    <div class="card my-5">
                        <div class="card-header">
                            <a href="{% url 'instargram:user_page' post.author %}" class="text-decoration-none text-dark">
                                <img src="{{ post.author.user_profile_image_url }}"
                                style="width:35px;height:35px" class="profile-image" alt="" srcset="">
                                <span class="small">{{post.author}}</span>
                            </a>
                        </div>
                        <div class="card-body p-0">
                            <a href="{% url 'instargram:post_detail' post.pk %}">
                                <img src="{{post.thumbnail_800}}" alt="post" style="width:100%">
                            </a>
                            <div class="p-3">
                                {% autoescape off %}
                                    {{ post.caption|truncatechars:31 }}
                                    <a href="{{ post.get_absolute_url }}" class="text-decoration-none text-mute"> 더보기</a>
                                {% endautoescape %}
                            </div>
                        </div>
                        <div class="card-footer bg-white">
                            <div class="col-sm-12">
                                <a href="{% url 'instargram:post_like' post.pk %}" class="text-decoration-none text-dark">
                                    <i class="fa fa-heart-o"></i>
                                </a>
                                <a href="{% url 'instargram:post_unlike' post.pk %}" class="text-decoration-none text-danger">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3 class="text-center">등록된 게시글이 없습니다.</h3>
            {% endif %}