<!DOCTYPE html>
{% load static django_bootstrap5 %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>INSTARGRAM {% block title %}{% endblock title %}</title>
</head>
<body>
    
    {% if messages %}
        <div class="row">
            {% for message in messages %}
                <div class="alert alert-sm alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>    
    {% endif %}

    <div class="row border-bottom shadow-sm">
        <div class="container-fluid">
            {% include 'header.html' %}
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="container">
            {% block content %}{% endblock content %}            
        </div>
    </div>


    {% include 'footer.html' %}

    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <script src="{% static '/bootstrap5/js/bootstrap.min.js' %}"></script>
</body>
</html>