{% extends 'base.html' %}

{% block title %} Detail{% endblock title %}

{% block content %}

<div class="container py-5 my-3">
    <div class="col-sm-6 offset-3">
        {% if post_list %}
            <div class="card">
                <div class="card-header">
                    <img src="{{ post_list.author.user_profile_image_url }}" style="width:35px;height:35px;" 
                        alt="{{ post_list.author.username}}" title="{{ post_list.author.username}}" class="profile-image">
                    {{post_list.author.username }} / 
                    <span class="small">등록일 : {{ post_list.created_at }}</span>
                </div>
                <div class="card-body">
                    <div class="card-img-top text-center">
                        <img src="{{ post_list.photo.url }}" alt="" srcset="" style="width:100%">
                    </div>
                    <div class="card-text mt-3">
                        {% autoescape off %}
                            {{ post_list.caption_tag_links }}
                        {% endautoescape %}
                    </div>
                </div>
                <div class="card-footer">
                    {% for tag in post_list.tag_set.all %}
                        <span class="me-3 small badge bg-danger">{{ tag }}</span>
                    {% endfor %}
                </div>

            </div>
        {% endif %}
    </div>
</div>

{% endblock content %}