{% extends 'base.html' %}

{% block title %} Detail{% endblock title %}

{% block content %}

<div class="container py-5 my-3">
    <div class="col-sm-6 offset-3">
        {% if post_list %}
            <div class="card">
                <div class="card-header">
                    <a href="{% url 'instargram:user_page' post_list.author.username %}" class="text-decoration-none text-dark">
                        <img src="{{ post_list.author.user_profile_image_url }}" style="width:35px;height:35px;"
                            alt="{{ post_list.author.username}}" title="{{ post_list.author.username}}" class="profile-image">
                        {{post_list.author.username }}
                    </a> |
                    <span class="small">등록일 : {{ post_list.created_at }}</span>
                </div>
                <div class="card-body p-0">
                    <div class="card-img-top text-center">
                        <img src="{{ post_list.photo.url }}" alt="" srcset="" style="width:100%">
                    </div>
                    <div class="card-text p-3">
                        {% autoescape off %}
                            {{ post_list.caption_tag_links }}
                        {% endautoescape %}
                    </div>
                </div>
                
                {% if post_list.tag_set.all %}                    
                    <div class="card-footer">
                        {% for tag in post_list.tag_set.all %}
                            <span class="me-3 small badge bg-light text-dark">{{ tag }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if who_is %}                    
                    <div class="card-footer bg-white">
                        <a href="{% url 'instargram:post_edit' post_list.pk %}" class="btn btn-outline-primary btn-sm">글수정</a>
                        <a href="{% url 'instargram:post_delete' post_list.pk %}" class="btn btn-outline-secondary btn-sm">글삭제</a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock content %}