{% for suggested_user in suggested_user_list %}
    <div class="d-flex my-1">
        <div class="">
            <img src="{{ suggested_user.user_profile_image_url }}" alt="{{ suggested_user }}"
                 class="border border-1 rounded-circle" style="width:35px;height:35px">
        </div>
        <div class="ms-1 align-self-center">
            <span class="text-muted">{{ suggested_user }}</span>
        </div>
        <div class="ms-auto align-self-center">
            <a href="{% url 'accounts:user_follow' suggested_user.username %}" class="text-decoration-none">follow</a>
        </div>
    </div>
{% endfor %}




